{% extends "desk/main.html" %}
{% load has_group %}
{% block content %}

{% if user.is_authenticated %}

<ul class="nav nav-pills">
  {% if user|in_group:"readers_globex" %}
  <li ><a href="/">Globex</a></li>
  {% endif %}
  {% if user|in_group:"readers_rel_llc" %}
  <li class="active"><a href="/rel_lcc/">REL LLC</a></li>
  {% endif %}
  {% if user|in_group:"readers_globex_export" %}
  <li><a href="/globex_export/">Globex export company</a></li>
  {% endif %}
  {% if user|in_group:"readers_promelectronica" %}
  <li><a href="/promelectronica/">Promelectronica</a></li>
  {% endif %}
</ul>
<br />
<br />
{% if user|in_group:"readers_rel_llc" %}
<script type="text/javascript">
    function refreshData() {
        $.post(
                "/alloperations_rel/",
                {"csrfmiddlewaretoken": "{{ csrf_token }}"},
                function(data, status, xhr) {
                    $("#operations").html(data);
                }
            );
    }

    function timer() {
        refreshData();
        setTimeout(function(){
            timer();
            }, 5000);

    }
</script>

{% if user|in_group:"editors_rel_llc" %}
<div class="col-sm-12">
    <form role="form" class="form-inline" method="post" enctype="multipart/form-data" action="/addrecord/">
      {% csrf_token %}
      <div class="form-group" id="income-group" name="income-group" >
      <input type="text" class="form-control input-sm" placeholder="Номер" name="positionNumber" id="positionNumber"/>
      <input type="file" class="form-control input-sm" placeholder="Файл" id="fileLink" name="fileLink" />
        <input type="text" class="form-control input-sm" placeholder="Плательщик" name="whoPayed"/>
        <input type="text" class="form-control input-sm" placeholder="Сумма" name="amount"/>
        <input type="text" class="form-control input-sm" placeholder="Оплачено" name="alreadyPayed"/>
          <input type="hidden" name="company" value=1 />
          <br /><br />
        <input type="submit" class="btn btn-info btn-block" id="addrecord" value="Внести"/>
      </div>
    </form>
</div>

{%endif%}

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Редактирование операции</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="editForm" method='POST' action='/edit_operation/' enctype="multipart/form-data">
            {% csrf_token %}
          <div class="form-group">
            <label for="op_number" class="col-form-label">Номер:</label>
            <input type="text" class="form-control" id="op_number" name="op_number">
          </div>
          <div class="form-group">
            <label for="op_file" class="col-form-label">Файл:</label>
            <input type='file' name='op_file' id='op_file' class='form-control'><br>
          </div>
          <div class="form-group">
            <label for="op_payer" class="col-form-label">Плательщик:</label>
            <input type="text" class="form-control" id="op_payer" name="op_payer">
          </div>
          <div class="form-group">
            <label for="op_amount" class="col-form-label">Сумма:</label>
            <input type="text" class="form-control" id="op_amount" name="op_amount">
          </div>
          <div class="form-group">
            <label for="op_alreadypayed" class="col-form-label">Оплачено:</label>
            <input type="text" class="form-control" id="op_alreadypayed" name="op_alreadypayed">
          </div>

          <div class="form-group">
              <label for="op_close" class="col-form-label">Закрыть принудительно?</label>
              <input name="op_close" id="op_close" type="checkbox" data-toggle="toggle" data-on="Да" data-off="Нет">

            <input type="hidden" id="op_id" name="op_id">
            <input type="hidden" id="op_company" name="op_company">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" id="editFormSendBtn">Сохранить</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$('#editModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget);
  var opnumber = button.data('opnumber');
  var oppayer = button.data('oppayer');
  var opamount = button.data('opamount');
  var opalreadypayed = button.data('opalreadypayed');
  var opid = button.data('opid');
  var opcompany = button.data('opcompany');

  var modal = $(this);
  modal.find('#op_number').val(opnumber);
  modal.find('#op_payer').val(oppayer);
  modal.find('#op_amount').val(opamount);
  modal.find('#op_alreadypayed').val(opalreadypayed);
  modal.find('#op_id').val(opid);
  modal.find('#op_company').val(opcompany);
});


$('#editFormSendBtn').on('click', function (event) {
    var form = $('#editForm');
    form.submit();
});


</script>

<!-- content of below div is replaced with ajax calls -->
<div id="operations">

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <td>Номер</td>
            <td>Файл</td>
            <td>Плательщик</td>
            <td>Сумма</td>
            <td>Оплачено</td>
            <td>&nbsp;</td>
        </tr>
    </thead>
    <tbody>
    {% for op in object_list %}
        {% if op.isClosed == 1 %}
            <tr class="success">
        {% else %}
        <tr class="danger">
        {% endif %}

        <td> {{ op.positionNumber }} </td>
        <td> <a href="/media/{{ op.fileLink }}">{{ op.fileLink }}</a> </td>
        <td> {{ op.whoPayed }} </td>
        <td> {{ op.amount }} </td>
        <td> {{ op.alreadyPayed }} </td>
        {% if op.isClosed == 0 %}
        <td title="Редактировать"> <a title="Редактировать" href="" data-toggle="modal" data-target="#editModal"
                data-opnumber="{{ op.positionNumber }}"
                data-oppayer="{{ op.whoPayed }}"
                data-opamount="{{ op.amount }}"
                data-opalreadypayed="{{ op.alreadyPayed }}"
                data-opid="{{ op.id }}"
                data-opcompany="{{ op.company}}"
        ><span class="glyphicon glyphicon-edit"></span> </a></td>
        {% else %}
        <td>&nbsp;</td>
        {% endif %}
        
        
    </tr>
{% empty %}
<p>Нет данных</p>
{% endfor %}
</tbody>
</table>
</div>
{% endif %}
{%else%}
<script>
function redir() {
    window.location.href="{% url 'django.contrib.auth.views.login' %}";
}
</script>

<div class="row" align="center">
Здравствуйте, для продолжения работы необходимо авторизоваться в системе.<br /><br />
<center><button class="btn btn-info btn-lg" onclick="redir()">ВОЙТИ</button></center>
</div>
{% endif %}
{% endblock %}