<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <td>Номер</td>
            <td>Файл</td>
            <td>Плательщик</td>
            <td>Сумма</td>
            <td>Оплачено</td>
            <td>&nbsp;</td>
        </tr>
    </thead>
    <tbody>
    {% for op in operations %}
        {% if op.isClosed == 1 %}
            <tr class="success">
        {% else %}
            <tr>
        {% endif %}
        
        <td> {{ op.datetime }} </td>
        <td> {{ op.fileLink }} </td>
        <td> {{ op.whoPayed }} </td>
        <td> {{ op.amount }} </td>
        <td> {{ op.alreadyPayed }} </td>
        {% if op.isClosed == 0 %}
        <td> <a href="#">редактировать </a></td>
        {% endif %}


        
    </tr>
{% empty %}
<p>Нет данных</p>
{% endfor %}
</tbody>
</table>
<script type="text/javascript">
    console.log("{{ remainder }}");
    
    $("#remainder").html("{{ remainder }}");
    
</script>