{% extends "desk/main.html" %}
{% load has_group %}
{% block content %}

{% if user.is_authenticated %}

<ul class="nav nav-pills">
  {% if user|in_group:"readers_globex" %}
  <li ><a href="/">Globex</a></li>
  {% endif %}
  {% if user|in_group:"readers_rel_llc" %}
  <li><a href="/rel_lcc/">Rel</a></li>
  {% endif %}
  {% if user|in_group:"readers_globex_export" %}
  <li><a href="/globex_export/">Globex export company</a></li>
  {% endif %}
  {% if user|in_group:"readers_promelectronica" %}
  <li><a href="/promelectronica/">Promelectronica</a></li>
  {% endif %}
  {% if user|in_group:"readers_promsoldinvoices" %}
  <li class="active"><a href="/promsoldinvoices/">Prom sold invoices</a></li>
  {% endif %}
</ul>
<br />
<br />
{% if user|in_group:"readers_promsoldinvoices" %}
<script type="text/javascript">
    function applyGrouping() {
        var url_string = window.location.href;
        var url = new URL(url_string);
        var field = url.searchParams.get("field");
        var order = url.searchParams.get("order");

        if (field == null || order == null) {
            return;
        }

        selectedGroupingField = $("#groupingControl").val();
        redirectUrl = "?field="+field+"&order="+order;

        if (selectedGroupingField != "nothing") {
            redirectUrl += "&grouping="+selectedGroupingField;
        }

        window.location.href = redirectUrl;
        return true;
    }

    function cancelAllOrder() {
        window.location.href = "?";
    }


    function refreshData() {
        var url_string = window.location.href;
        var url = new URL(url_string);
        var field = url.searchParams.get("field");
        var ex_field = url.searchParams.get("ex_field");
        var order = url.searchParams.get("order");

        $.post(
                "/alloperations_sold/",
                {"csrfmiddlewaretoken": "{{ csrf_token }}"},
                function(data, status, xhr) {
                    $("#operations").html(data);
                }
            );
    }

    function timer() {
        refreshData();
        setTimeout(function(){
            timer();
            }, 5000);

    }
</script>

{% if user|in_group:"editors_promsoldinvoices" %}
<div class="col-sm-12">
    <form role="form" class="form-inline" method="post" enctype="multipart/form-data" action="/addrecord/">
      {% csrf_token %}
      <div class="form-group" id="income-group">
          <input type="text" class="form-control input-sm" placeholder="Финансовый год/штат" name="positionNumberSold" id="positionNumberSold"/>
          <input type="text" class="form-control input-sm" placeholder="Номер" name="positionNumber" id="positionNumber"/>
          <input type="file" class="form-control input-sm" placeholder="Файл" id="fileLink" name="fileLink" />
          <input type="text" class="form-control input-sm" placeholder="Плательщик" name="whoPayed"/>
          <input type="text" class="form-control input-sm" placeholder="Сумма" name="amount"/>
          <input type="text" class="form-control input-sm" placeholder="Оплачено" name="alreadyPayed"/>
          <input type="hidden" name="company" value=4 />
          <br /><br />
          <input type="submit" class="btn btn-info btn-block" id="addrecord" value="Внести"/>
      </div>
    </form>
</div>

{%endif%}

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Редактирование операции</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="editForm" method='POST' action='/edit_operation/' enctype="multipart/form-data">
            {% csrf_token %}
          <div class="form-group">
            <label for="op_number_sold" class="col-form-label">Финансовый год/штат:</label>
            <input type="text" class="form-control" id="op_number_sold" name="op_number_sold">
          </div>
          <div class="form-group">
            <label for="op_number" class="col-form-label">Номер:</label>
            <input type="text" class="form-control" id="op_number" name="op_number">
          </div>
          <div class="form-group">
            <label for="op_file" class="col-form-label">Файл:</label>
            <input type='file' name='op_file' id='op_file' class='form-control'><br>
          </div>
          <div class="form-group">
            <label for="op_payer" class="col-form-label">Плательщик:</label>
            <input type="text" class="form-control" id="op_payer" name="op_payer">
          </div>
          <div class="form-group">
            <label for="op_amount" class="col-form-label">Сумма:</label>
            <input type="text" class="form-control" id="op_amount" name="op_amount">
          </div>
          <div class="form-group">
            <label for="op_alreadypayed" class="col-form-label">Оплачено:</label>
            <input type="text" class="form-control" id="op_alreadypayed" name="op_alreadypayed">
          </div>

          <div class="form-group">
              <label for="op_close" class="col-form-label">Закрыть принудительно?</label>
              <input name="op_close" id="op_close" type="checkbox" data-toggle="toggle" data-on="Да" data-off="Нет">

            <input type="hidden" id="op_id" name="op_id">
            <input type="hidden" id="op_company" name="op_company">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" id="editFormSendBtn">Сохранить</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$('#editModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget);
  var opnumber = button.data('opnumber');
  var opnumber_sold = button.data('opnumbersold');
  var oppayer = button.data('oppayer');
  var opamount = button.data('opamount');
  var opalreadypayed = button.data('opalreadypayed');
  var opid = button.data('opid');
  var opcompany = button.data('opcompany');

  var modal = $(this);
  modal.find('#op_number').val(opnumber);
  modal.find('#op_payer').val(oppayer);
  modal.find('#op_amount').val(opamount);
  modal.find('#op_alreadypayed').val(opalreadypayed);
  modal.find('#op_id').val(opid);
  modal.find('#op_company').val(opcompany);
  modal.find('#op_number_sold').val(opnumber_sold);
});


$('#editFormSendBtn').on('click', function (event) {
    var form = $('#editForm');
    form.submit();
});


</script>

<!-- content of below div is replaced with ajax calls -->
<div id="operations">
<div id="grouping" class="float-right">
{% if field == "alreadyPayed" %}

    Группировка:
    <select id="groupingControl">
        <option value="nothing">-----</option>
        <option value="whoPayed"
        {% if grouping == "whoPayed" %} selected {% endif %}
        >Плательщик</option>
        <option value="amount"
        {% if grouping == "amount" %} selected {% endif %}
        >Сумма</option>
        <option value="fileLink"
        {% if grouping == "fileLink" %} selected {% endif %}
        >Файл</option>
        <option value="alreadyPayed"
        {% if grouping == "alreadyPayed" %} selected {% endif %}
        >Оплачено</option>
    </select>
    <button class=".btn-default" onclick="applyGrouping();">Применить</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{% endif %}
    <button class=".btn-default" onclick="cancelAllOrder();">Вернуться к полному списку</button>
</div>
<br />

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <td>Финансовый год/штат&nbsp;
                {% if field == "positionNumberPromSold" %}
                    {% if order == "asc" %}
                        <a href="/promsoldinvoices/?field=positionNumberPromSold&order=desc">
                            <span style="color:red;">
                                <span class="glyphicon glyphicon-sort-by-attributes"></span>
                    {% else %}
                        <a href="/promsoldinvoices/?field=positionNumberPromSold&order=asc">
                            <span style="color:red;">
                                <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                    {% endif %}
                    </span>
                    </a>
                {% else %}
                    <a href="/promsoldinvoices/?field=positionNumberPromSold&order=asc">
                    <span class="glyphicon glyphicon-sort-by-attributes"></span>
                {% endif %}
                </a>

                <!--<span class="glyphicon glyphicon-sort-by-attributes-alt"></span>-->
            </td>
            <td>Номер&nbsp;
                {% if field == "positionNumber" %}
                    {% if order == "asc" %}
                        <a href="/promsoldinvoices/?field=positionNumber&order=desc">
                            <span style="color:red;">
                                <span class="glyphicon glyphicon-sort-by-attributes"></span>
                    {% else %}
                        <a href="/promsoldinvoices/?field=positionNumber&order=asc">
                            <span style="color:red;">
                                <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                    {% endif %}
                    </span>
                    </a>
                {% else %}
                    <a href="/promsoldinvoices/?field=positionNumber&order=asc">
                    <span class="glyphicon glyphicon-sort-by-attributes"></span>
                {% endif %}
                </a>

                <!--<span class="glyphicon glyphicon-sort-by-attributes-alt"></span>-->
            </td>

            <td>Файл</td>
            <td>Плательщик&nbsp;&nbsp;
                {% if field == "whoPayed" %}
                    {% if order == "asc" %}
                        <a href="/promsoldinvoices/?field=whoPayed&order=desc">
                            <span style="color:red;">
                                <span class="glyphicon glyphicon-sort-by-attributes"></span>
                    {% else %}
                        <a href="/promsoldinvoices/?field=whoPayed&order=asc">
                            <span style="color:red;">
                                <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                    {% endif %}
                    </span>
                    </a>
                {% else %}
                    <a href="/promsoldinvoices/?field=whoPayed&order=asc">
                    <span class="glyphicon glyphicon-sort-by-attributes"></span>
                {% endif %}
                </a>

            </td>
            <td>Сумма&nbsp;&nbsp;
                {% if field == "amount" %}
                    {% if order == "asc" %}
                        <a href="/promsoldinvoices/?field=amount&order=desc">
                            <span style="color:red;">
                                <span class="glyphicon glyphicon-sort-by-attributes"></span>
                    {% else %}
                        <a href="/promsoldinvoices/?field=amount&order=asc">
                            <span style="color:red;">
                                <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                    {% endif %}
                    </span>
                    </a>
                {% else %}
                    <a href="/promsoldinvoices/?field=amount&order=asc">
                    <span class="glyphicon glyphicon-sort-by-attributes"></span>
                {% endif %}
                </a>
            </td>
            <td>Оплачено<br/>
                    {% if field == "alreadyPayed" and order == "3" %}
                    <a href="/promsoldinvoices/?field=alreadyPayed&order=3">
                            <span style="color:red;">
                                <span class="glyphicon glyphicon-ok"></span>
                            </span>
                    {% else %}
                        <a href="/promsoldinvoices/?field=alreadyPayed&order=3">
                            <span class="glyphicon glyphicon-ok"></span>
                    {% endif %}
                    </a>

                    <a href="/promsoldinvoices/?field=alreadyPayed&order=2">
                    {% if field == "alreadyPayed" and order == "2" %}
                            <span style="color:red;">
                                <span class="glyphicon glyphicon-warning-sign"></span>
                            </span>
                    {% else %}
                            <span class="glyphicon glyphicon-warning-sign"></span>
                    {% endif %}
                    </a>


                    {% if field == "alreadyPayed" and order == "1" %}
                        <a href="/promsoldinvoices/?field=alreadyPayed&order=1">
                            <span style="color:red;">
                                <span class="glyphicon glyphicon-remove"></span>
                            </span>
                    {% else %}
                        <a href="/promsoldinvoices/?field=alreadyPayed&order=1">
                        <span class="glyphicon glyphicon-remove"></span>
                    {% endif %}
                    </a>

            </td>
            <td>&nbsp;</td>
        </tr>
    </thead>
    <tbody>
    {% for op in object_list %}
        {% if op.isClosed == 1 %}
            <tr class="success">
        {% else %}
        <tr class="danger">
        {% endif %}

        <td> {{ op.positionNumberPromSold }}</td>
        <td> {{ op.positionNumber }}</td>
        <td> <a href="/media/{{ op.fileLink }}">{{ op.fileLink }}</a> </td>
        <td> {{ op.whoPayed }} </td>
        <td> {{ op.amount }} </td>
        <td> {{ op.alreadyPayed }} </td>

        <td title="Редактировать">
            {% if user|in_group:"editors_promsoldinvoices" %}
            <a title="Редактировать" href="" data-toggle="modal" data-target="#editModal"
                data-opnumber="{{ op.positionNumber }}"
              data-opnumbersold="{{ op.positionNumberPromSold }}"
                data-oppayer="{{ op.whoPayed }}"
                data-opamount="{{ op.amount }}"
                data-opalreadypayed="{{ op.alreadyPayed }}"
                data-opid="{{ op.id }}"
                data-opcompany="{{ op.company}}"
        ><span class="glyphicon glyphicon-edit"></span> </a>
            {% endif %}
        </td>

        
    </tr>
{% empty %}
<p>Нет данных</p>
{% endfor %}
</tbody>
</table>
</div>
{% endif %}
{%else%}
<script>
function redir() {
    window.location.href="{% url 'django.contrib.auth.views.login' %}";
}
</script>

<div class="row" align="center">
Здравствуйте, для продолжения работы необходимо авторизоваться в системе.<br /><br />
<center><button class="btn btn-info btn-lg" onclick="redir()">ВОЙТИ</button></center>
</div>
{% endif %}
{% endblock %}